@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --background-color: #F2EFE4;
    --banner-color: #012326;
    --text-color: black;
    --hover-color: #A64521;

}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Oswald", sans-serif, Arial, Helvetica;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--banner-color);
    display: grid;
    grid-template-columns: 150px auto 1fr;
}
#logo-link{
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;

}

#logo-img{
    width: 80px;
}
nav{
    display: flex;
    justify-content: left;
}

nav a:hover{
    background-color: var(--hover-color);
    color: Black;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

#theme-link{
    display: flex;
    justify-self: right;
    height: 100%;
}

.theme-button{
    color: white;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    align-self: center;
}

#theme-link:hover{
    background-color: var(--hover-color);
    color: Black;
}

#theme-link:hover .theme-button{
    color: Black;
}

.hero-banner{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#hero-img{
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
}

#hero-title{
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    padding-left: 1em;
    color: white;
}

.main-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2% 5% 5% 5%;
}

#home-title{
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 2em;
}

#home-info{
    grid-column: 1/3;
    font-size: 1.3em;
}

.navigation-banners{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2%;
}

.home-tile-img{
    width: 100%;
    grid-row: 3/4;
    grid-column: 1/2;
    border-radius: 10px;

}

.home-tile-title{
    color: white;
    text-decoration: none;
    grid-row: 3/4;
    grid-column: 1/2;
    z-index: 1;
    padding-left: 5%;
} 

#Copyright{
    color: white;
}

footer{
    background-color: var(--banner-color);
    color: var(--text-color);
    padding: 25px 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.site-link{
    text-decoration: none;
    color: white;
}